.feed {
  flex: 0.55;
  margin: 0 20px;
}

.feedPosts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feedPosts > .noPosts {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  color: gray;
}
