.input__wrapper {
    padding: .5rem 1rem;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
}

.input__wrapper > label {
    font-size: 13px;
    color: gray;
}

.input__wrapper > input {
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    border: none;
    line-height: 1.5;
    outline: none;
}

.input__wrapper:focus-within { border-color: #2977C9;}